/* #region RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #endregion RESET */

/* #region GENERAL */

body {
  height: 100vh;
  padding: 40px 0 70px;
  background-color: black;
}

button {
  border: none;
  color: white;
  background-color: black;
}

button:hover {
  cursor: pointer;
}

/* #endregion GENERAL */

/* #region COMMON */

.container {
  width: 90%;
  margin: 0 auto;
}

/* #endregion COMMON */

/* #region HEADER */

header {
  height: 40px;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

header .button-bar-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

header .button-bar-header button {
  background-color: #4a4a4a;
  padding: 5px;
  margin-right: 5px;
  border-radius: 6px;
  font-size: 11px;
}

/* #endregion HEADER */

/* #region MAIN */

main {
  height: 100%;
  overflow: auto;
}

main .video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  padding: 30px 0 30px;
}

main .video .videos {
  width: 175px;
  height: 105px;
  position: relative;

}

main .video .videos .pinco {
  color: white;
  background-color: rgba(0,0,0,0.25);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 13px;
  padding: 5px;

}
/* #endregion MAIN */

/* #region FOOTER */

footer {
  height: 70px;
  background-color: #222222;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

footer .button-bar-footer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .button-bar-footer > div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

footer button {
  height: 100%;
  background-color: transparent;
}

.icon-text {
  font-size: 18px;
  padding: 0 12px;
}

.icon {
  font-size: 11px;
  padding: 0 7px;
}

footer h6 {
  font-size: 11px;
  margin-top: 5px;
}

.buttons-center button:nth-child(4) i {
  color: #4bc800;
}

.buttons-right button {
  color: red;
  background-color: #4a4a4a;
  padding: 0 20px;
  font-size: 14px;
}

/* #endregion FOOTER */

